<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <h4 class="service-heading service-heading-one">Tech & Fashion</h4>
                <h4 class="service-heading service-heading-two">Skills for the future</h4>
                <p class="text-muted">Technology is making its way into fashion in just about every aspect. From
                    wearables to 3D printing to machine learning, the future of fashion includes technology.As this
                    influx of tech continues to happen, many will find their skillsets need to grow and adjust to keep
                    up. The Fashion Tech Bootcamp is here to help.
                    <br />&nbsp;<br />
                    Our courses are designed to give you the foundation to adapt to the changing landscape. Each course
                    is meant to build upon the previous, strengthening the concepts as you move along. By the end you
                    will have solid grasps on technical concepts and processes, and hands on experience you can apply
                    immediately.
                    <br />&nbsp;<br />
                    Whether you're a veteran of the industry looking to enhance your skills, or new to the industry
                    looking to break in, this bootcamp will help!
                </p>
            </div>
            <div class="col-md-6">
                <img src="img/Work-dress-code.jpg" </div>
            </div>
        </div>
</section>