<!-- Flexible Section -->
<section id="flexible">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <h4 class="service-heading service-heading-one">Flexible</h4>
                <h4 class="service-heading service-heading-two">Virtual learning</h4>
                <p class="text-muted">Fashion Tech Bootcamp utilizes a combination of in-person online instruction,
                    self-paced video instruction, and self study to teach you all the concepts to super charge your
                    career in fashion. This mix of in-person and self paced study provides options so you can succeed in
                    this intense course. We pack a lot into 15 weeks, and we've structured the platform for your
                    success.
                    <br />&nbsp;<br />
                    Our classes are taught by experienced instructors and technologists with years of experience in
                    fashion merchandising, instruction, and technology.
                </p>
            </div>
            <div class="col-md-6">
                <img src="img/tech-fashion.jpg" </div>
            </div>
        </div>
</section>