<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What you'll learn</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Applied Technology</h4>
                    <p class="text-muted">Introduction to emerging technologies in fashion, including AI, blockchain,
                        chatbots, IoT, AR/VR, and 3-D printing. Examine the contribution of technology to the fashion
                        economy and global environment.

                        Outcomes: Deep understanding of how technology is changing Fashion. Ability to speak more
                        engagingly about technology.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Design Thinking</h4>
                    <p class="text-muted">Explore the concepts and parameters that drive design thinking. Establish a
                        common language and process for creative problem-solving. Push past the obvious to generate new
                        ideas that drive breakthrough solutions. Build low-fidelity prototypes for user testing and
                        further iterative design. Develop a managerial framework to effectively foster creativity in
                        your organization.

                        Outcomes: Understanding of design thinking and why you would use it in fashion. Ability to
                        conduct a design thinking session.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Project Management</h4>
                    <p class="text-muted">Explore how innovative companies are using project management methodologies to
                        launch better products more efficiently. Learn how agile and Scrum/Kanban methodologies are used
                        within self-organizing and cross-functional teams. Examine how lean methodology is used to drive
                        continuous improvement. Utilize relevant tools, including JIRA and Trello.

                        Outcomes: Understanding of how agile teams work and the concepts that drive those teams. Ability
                        to create and utilize an agile board, and know when to use scrum versus kanban.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Rapid Prototyping</h4>
                    <p class="text-muted">Explore low fidelity prototyping, which is used for testing early and faster,
                        more efficient iterating. Develop high fidelity prototypes for further development after
                        customer validation. Utilize relevant technology, including TinkerCAD, OnShape, Clo 3-D, and
                        Adobe XD. Hands-on experience with 3-D printing.

                        Outcomes: Understanding of how rapid prototyping is being used in fashion. Ability to create
                        clickable web and mobile prototypes, as well as 3D models for printing.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Web Development</h4>
                    <p class="text-muted">Discussion of fashion's history on the web. Evaluate design and usability of
                        websites and mobile apps within the fashion industry. Introduction to basic web tools and
                        multimedia technologies that enable efficient launches. Hands-on front-end and back-end
                        development using HTML / CSS and Python APIs. Understanding of CX / UX / UI. Website
                        accessibility and compliance.

                        Outcomes: Understanding of how web development is used in fashion. Ability to create and edit
                        HTML: Email templates and portfolio site.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Structured Query Language (SQL)</h4>
                    <p class="text-muted">Introduction to databases and structured query language. Learn how data is
                        stored for easy retrieval and reporting. Learn how to query databases, read and insert data.
                        Learn how to join multiple tables to build rich data sets. Learn how to report off data stored
                        in the database.

                        Outcomes: Understanding of how data is stored and used in fashion. Ability to perform CRUD
                        (create, read, update, delete) against a database. Perform join operations across multiple
                        tables, and produce reports in CSV and JSON formats.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Python</h4>
                    <p class="text-muted">Introduction to software engineering in Python. Learn Python basics and build
                        basic programs and scripts you can utilize on the job. Learn how to process data from SQL,
                        Microsoft CSV files, and more. Use Python to create graphic reports and process data.

                        Outcomes: Understanding of the Python language and when you would use it in fashion. The ability
                        to write Python scripts to assist with tasks such as data analysis.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Machine Learning</h4>
                    <p class="text-muted">Introduction to artificial intelligence (AI). Examine how the most innovative
                        fashion companies are using AI to improve business. Explore the underlying structure of
                        databases and learn how to perform basic queries. Utilize an established data set to make a
                        forecast using predictive analytics. Learn how methods of filtering drive recommendation engine
                        performance. Discussion of bias in data.

                        Outcomes: Understanding of how Machine Learning algorithms work and when you would use them.
                        Ability to take data and using Python, run real ML algorithms to perform forecasting and
                        recommendations.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption">
                    <h4>Fashion Tech Lab</h4>
                    <p class="text-muted">Develop a venture incorporating relevant fashion products and associated
                        technology. Concept generation, prototyping, and testing. Commercialization, venture formation,
                        and intellectual property. Complete a business model canvas and identify revenue streams. Pitch
                        development and discussion of accelerators and incubators. Explore venture capital and cap
                        tables.

                        Outcomes: Understanding of how to build your own fashion business. Ability to create a business
                        model and pitch to investors. </p>
                </div>
            </div>
        </div>
    </div>
</section>